.credit-card {
  background-image: url(./card-bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  box-shadow: 0px 0px 10px gainsboro;
  min-height: 100px;
  position: relative;
}

.credit-card__header {
  padding: 30px 24px 0px 24px;
  margin-bottom: 32px;
}

.credit-card__footer {
  padding: 0px 24px 16px 24px;
}

.credit-card__account__area {
  padding-left: 16px;
}

.credit-card__account__bar {
  background-image: linear-gradient(to right, #ffffff, #eaeef1);
  width: 100%;
  padding-left: 6px;
}

.credit-card__chip {
  background-color: #fed080;
  width: 52px;
  height: 36px;
  border-radius: 6px;
}

.credit-card__number {
  color: var(--grayNumber);
}

.credit-card__limit__area {
  background-image: linear-gradient(to right, #d9e0e5, #ffffff);
  padding: 11px 24px 11px 24px;
  margin-top: 24px;
  margin-bottom: 14px;
}

.credit-card__account__number {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px;
}

.credit-card__limit__over {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fffffff7;
  z-index: 1;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* styles for small class */
.credit-card.small {
    box-shadow: 0px 4px 5px #2d546f6b;
  }
  
  .credit-card.small .credit-card__header {
    padding: 15px 12px 0px 12px;
    margin-bottom: 32px;
  }
  
  .credit-card.small .credit-card__footer {
    padding: 0px 12px 8px 12px;
  }
  
  .credit-card.small .credit-card__account__area {
    padding-left: 8px;
  }
  
  .credit-card.small .credit-card__account__bar {
    width: 100%;
    padding-left: 3px;
  }
  
  .credit-card.small .credit-card__chip {
    width: 26px;
    height: 18px;
    border-radius: 6px;
  }
  
  .credit-card.small .credit-card__limit__area {
    padding: 6px 12px 6px 12px;
    margin-top: 12px;
    margin-bottom: 7px;
  }
  
  .credit-card.small .credit-card__account__number {
    width: 100%;
    padding: 0px 12px;
  }
  
  .credit-card.small .credit-card__limit__over {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }

  .credit-card.small img {
      width: 24%;
  }

  .credit-card.small .card__text {
    font-size: 70% !important;
}

